<ion-view view-title="Session">
  <ion-content>
    <div class="list card">
	
      <div class="item">
        <h3>{{session.time}}</h3>
        <h2>{{session.title}}</h2>
        <p>{{session.speaker}}</p>
      </div>
	  
      <div class="item item-body">
        <p>{{session.description}}</p>
      </div>
	  
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share" ng-click= "share()"></i>
          Share
        </a>
      </div>
	  
    </div>
  </ion-content>
</ion-view>